.venv/
__pycache__/
*.pyc
*.egg-info/
.pytest_cache/
.git/
notebooks/
data/raw/
data/interim/*
data/processed/*
!data/interim/.gitkeep
!data/processed/.gitkeep
outputs/models/production/*
!outputs/models/production/.gitkeep
outputs/monitoring/*
!outputs/monitoring/.gitkeep
catboost_info/
.env
