.venv/
__pycache__/
*.pyc
*.egg-info/
.pytest_cache/
.python-version

.env

data/interim/*
data/processed/*
!data/interim/.gitkeep
!data/processed/.gitkeep

outputs/models/*.joblib
outputs/models/*.pkl
!outputs/models/.gitkeep

.DS_Store
.ipynb_checkpoints/
